.indicator-title {
    height: 76px;
}

.titulo-contenido {
    background-color: #003e67;
    text-align: center;
    color: white;
    font-family: GothamRoundedBold, Arial, Helvetica, sans-serif;
    margin-left: -5px;
    height: 54px;
    width: 300;
    font-size: 18px;
}