@font-face{
    font-family: GothamRoundedBold;
    src: url('./fonts/GothamRoundedBold.otf');
}
body{
    padding-left: 10%;
    padding-right: 10%;
    font-family: GothamRoundedBold;
}
.header {
    /* height: 145px; */
    background-color: #019EE2;
    /*padding-left: 4%;*/
    padding-top: 25px;
}

.dropdown-toggle::after {
    display:none;
}

.interno{
    color:#019EE2;
    font-family: GothamRoundedBold, Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 22px;
}

.icon {
    background-color: #033d65;
    padding: 3.5px;
    margin-left: -6px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

.icon > img {
    width: 5%;
}

.inputsearch{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-appearance: button-bevel;

}

.search{
    text-align: center;
}

.title-text{
    color: white;
    font-weight: 600;
    text-align: center;
    font-family: 'GothamRoundedBold', Arial, Helvetica, sans-serif;
}

.menu-header {
    background-color: white;
    color: #019EE2;
    padding-top: 5px;
    font-size: 8px;
    margin-right: 1px;
    padding-left: 20px;
    height: 34.5px;
    font-family: GothamRoundedBold, Arial, Helvetica, sans-serif;
}

.menu-header img {
    width: 25px;
}

.menu-header-interno {
    margin-left: 5px;
}

.menu-down-header {
    font-size: 9px;
}

.nav-link {
    display: inline-flex;
    border-left: 1px solid white;
    color: white;
}

.redes {
    position: absolute;
    background-color: white;
    z-index: 10;
    width: 47px !important;
    margin-left: -15px;
    height: 44.5px;
    border: solid 1.1px #0093d7;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.carousel-news {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
}

.access-tool {
    margin-left: -15px;
    width: 50px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #8db84f;
}

.left-option{
    height: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.prev-access-tool{
    width: 250px;
    background-color: #8db84f;
    height: 60px;
    margin-left: -34px;
}
.inter-access-tool{
    background-color: white;
    width: 80%;
    height: 80%;
    /* margin-left: 3%;
    margin-top: 2%; */
}
.menu-nav {
    color: white;
    background-color: #003e67; 
    border-radius: 0;
    margin-top: 18px;
    margin-bottom: 15px;
    padding:0;
    display:inline-block;
    font-family: GothamRoundedBold, Arial, Helvetica, sans-serif;
}

.nav-menu{
    background-color: #003e67 !important; 
    border-radius: 0 !important;
    height: 60px !important;
    margin-top: 18px;
    padding:0 !important;
    display:inline-block !important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: white;
    background-color: #019ee2;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px #019ee2;
    color: #019ee2;
}

.jumbotron figure{
    display:inline-block !important;
    margin-left:-10px;
}

.to-home{
    padding: 5px;
    color:#ffffff;
}

.home-menu{
    width:auto;
    float: left;
    margin:0;
    margin-left: -10px !important;
    padding:0;
}

.img-menu img{
    float:left;
}

.separator{
    height: 5px;
    background-color: #92b35c;
    margin-bottom: 5px;
    margin-top: -10;
}

.banner{
    margin-top: 10px;
    margin-left:-14px;
    text-align:center;
}
.icon-twt{
    float:left;
    margin-top:80px;
}
.icon-face{
    float:left;
    margin-top:130px;
    margin-left:-55px;
}
.icon-youtube{
    float:left;
    margin-left:-55px;
    margin-top:180px;
    z-index:1
}
.img-banner{
    margin-left:-30px;
    margin-top:-250px;
    /* height: 400px; */
    width:100%;
    z-index: -2;
}
.container-news{
    float:left;
    width:800px;
    max-width:100% !important;
}
.new-publics{
    background-color:#003e67 ;
    width:400px !important;
    height:50px;
    float:left;
    color:white;
    margin-left:100px;
    margin-top:35px;
   
    /* padding-top: 70px; */
}
.new-publics figure{
    margin-left:-145px;
    margin-top:-27px;
}
.new-publics span{
    float:left;
    margin-top:-60px;
    margin-left:10px;
    font-weight: 600;
    font-size:15pt; 
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container-date{
    width: 400px;
    margin-left:870px;
}

.title-date{
    background-color:#019EE2;
    height:40px;
    width:250px;
    margin-top:-90px;
    text-align: center;
    color:white;
    font-size: 20pt;
    font-family: GothamRoundedBold, Verdana, Geneva, Tahoma, sans-serif;
    
}

.container-date .title-date span{
    margin-top:-150px;
    padding-top:-10px;
}

.footer-date{
    background-color: #033d65;
    height:30px;
    width:250px;
    color:white;
    text-align: center;
}

.content-inside span{
    color:#92b35c;
    font-weight: bold;

}
.clima-date{
    margin-top:10px;
    
}

.cont-inside{
    margin-top:30px;
    
}

.img-content{
    /* margin-left:-20px; */
}

.banners{
    margin-top:50px;
}

.register-estab{
    background-color:#019EE2;
    padding: 5px;  
}

.ban-1{
    height: 50px;
    border-style:solid ;
    border-width: 1px;  
    border-color: white;
    text-align: center;
    padding: 15px 5px 5px 5px;
    color:white;
    font-size:10pt;
}

.consult-estab{
    background-color:#019EE2;
    padding: 5px;  
    margin-left:5px;
}

.mesa-trabajo{
    margin-top: 30px;
}

.form-contact{
    background-image: url('./imgs/Imagenes y fondos/PNG/Mesa de trabajo 124@72x.png');
    height:313px;
}

.container-boton-enviar {
    height: 40;
    width: 100px;
    background-color: #003e67;
    padding-left: 10px;
    padding-top: 7px;
}

.rectangulo-boton-enviar {
    width: 80;
    height: 28px;
    border: solid 0.7px #ffffff;
}

.preguntas{
    padding-left: 80px !important;
    text-align: center;
    color:#031948;
    /* background-color: #777775 ; */
}

.img-btns{    
    margin-top:30px !important;
}

.preguntas img {
    /* filter: grayscale(75%); */
    margin-right:15px;
    margin-top:15px;
    z-index: 1;
}

.preguntas span text{
     margin-top:15px;
}

hr{
    background-color:#031948;
}

.img-btns-2 {
    display:inline-block;
}

.img-btns-2 img{
    margin-top: -10px;
    margin-left: -15px;
    width: 60px;
}

.menu-links{
    margin-left:-20px;
}

.footer-text {
    font-family: GothamRoundedBold, Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 32.6px;
}

.fondo-aliados-texto, .fondo-aliados-texto > a{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.footer-alcaldia {
    background-color: #003e66;
    color: white;
    padding-top: 5px;
    /* font-family: GothamRoundedBold, Arial, Helvetica, sans-serif; */
    font-size: 9px;
}

.texto-derecho {
    text-align: right;
}

.texto-centro {
    text-align: center;
}

.footer-terminos {
    font-family: GothamRoundedBold, Arial, Helvetica, sans-serif;
    color: white;
    background-color: #009bdf;
    height: 50px;
    font-size: 12px;
}

.link-footer {
    height: 100px;
}

.min-ancho {
    min-width: 768px;
}

.fondo-aliados {
    background-image: url('../images/footer/FondoAliadosEstrategicos.png');
    background-repeat: no-repeat;
}

.date-time-title {
    background-color: #009de2;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: GothamRoundedBold, Arial, Helvetica, sans-serif;
}

.date-time {
    background-color: #003e67;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 15px;
    font-family: GothamRoundedBold, Arial, Helvetica, sans-serif;
}
/*** Medias
**/

/* @media (max-width: 576px){
    .search {
        margin-left: 8%;
        margin-top: 15px;
        text-align: start;
    }

}

@media (max-width: 768px) {
    .title-text {
        font-size: 27px;
    }
} */
