.altura {
    height: 340px;   
}

.carousel-news {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
}

.news-title{
    margin-bottom: 15px;
    margin-left: -15px;
}
.date-time-title {
    background-color: #009de2;
    width: 100%;
    height: 40px;
    text-align: center;color: white;
    font-size: 25px;
}

.date-time {
    background-color: #003e67;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 15px;
}
.content{
    display: flex;
    margin-top:50px;
}
.content-inside{
    border-style: solid;
    border-width: 2px; 
    padding: 20px 20px 0 10px ;
    font-size: 11pt !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

.boton-register{
    background-color: #033d65;
    padding: 5px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 15px;
    color: white;
    font-size: 14px;
}

.boton-consult{
    background-color: #009de2;
    padding: 5px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 15px;
    color: white;
    font-size: 14px;
}

.contactenos {
    background-image: url("../images/contactenos/FondoFormularioContactenos.png");
    height: 310px;
}
.icono-contactenos {
    color: #023864;
    border-bottom: 1px solid #023864;
    margin-left: -15px;
}

.form-contactenos {
    color: #023864;
    /* border-bottom: 1px solid #023864;
    border-right: 1px solid #023864; */
    border-left: 0px;
    border-top: 0px;
}